Info[[:space:]]Windy/Models/*.pkl filter=lfs diff=lfs merge=lfs -text
Info[[:space:]]Windy/Models/*.keras filter=lfs diff=lfs merge=lfs -text
Info[[:space:]]Windy/Models/*.h5 filter=lfs diff=lfs merge=lfs -text
